#main-navbar {
  background-color: blue;
  overflow: hidden;
  float: left; 
  width: 100%;
} 

nav#main-navbar {
  position: relative;
  list-style-type: none; 
  margin: 0;
  padding: 0; 
}

div#navbar-container ul {
  position: relative;
  left: 50%;
  float: left;
}

div#navbar-container ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

div#navbar-container ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

div#navbar-container ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}
  
div#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

div#sidebar-container ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

div#sidebar-container ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

div#sidebar-container ul li a:hover {
  background-color: #000;
 }
