#main-navbar {
  background-color: blue;
  overflow: hidden;
  float: left; 
  width: 100%; 
}

#navbar-container {
  position: relative;
  list-style-type: none; 
  margin: 0;
  padding: 0; 
}

ul {
  position: relative;
  left: 50%;
  float: left;
}

ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}
  
#sidebar {
  position: fixed;
  right: 0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
}

ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000;
 }
